.page {
  background: #f7f7fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background-image: url("./HeroImage.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}
